{% extends "layout.html" %}

{% block content %} 
  <header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="{{ url_for('index') }}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img src="{{ url_for('static', filename='images/bike-icon.png') }}" width="50px" height="50px" alt="Mi imagen">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-secondary">SecureCycle</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Inicio</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Comunidad</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Rutas</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Unete Ahora!</a></li>
        </ul>

        <div class="text-end">
          <a  href="{{ url_for('login') }}"><button type="button" class="btn btn-outline-light me-2">Login</button></a>
          <a href="{{ url_for('sign_up') }}"><button type="button" class="btn btn-primary">Sign-up</button></a>
        </div>
      </div>
    </div>
  </header>

  <section style="height: 85vh; margin-top: 2%;">
    <div class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="{{ url_for('static', filename='images/introductionImg.jpeg') }}" style="border-radius: 10px;" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Recorre tu camino más seguro</h1>
          <p class="lead"> Aquí encontrarás todo lo que necesitas para disfrutar al máximo de tus recorridos sobre dos ruedas. Ya seas un ciclista apasionado en busca de nuevas rutas, un principiante emocionado por explorar el mundo del ciclismo o simplemente alguien que busca información útil sobre vías ciclistas y zonas adecuadas para pedalear, estás en el lugar indicado.</p>
        </div>
      </div>
    </div>
  </section>
  
  <section style="height: 95vh;" class="text-bg-dark">
    <div class="container px-4 py-5" id="featured-3">
      <h2 class="pb-2 border-bottom">Conoce a la Comunidad</h2>
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3" style="margin: 5%;">
        <div class="feature col">
          <img src="{{ url_for('static', filename='images/searchIcon.png') }}" width="50px" height="50px"></img>
          <h3 class="fs-2 text-white">Explora</h3>
          <p> Nuestros mapas interactivos te brindarán una visión completa de las vías, senderos y caminos disponibles, permitiéndote planificar tus recorridos con precisión y confianza. </p>
        </div>
        <div class="feature col">
            <img src="{{ url_for('static', filename='images/warningIcon.png') }}" width="50px" height="50px"></img>
          <h3 class="fs-2 text-white">Reporta</h3>
          <p>Nuestra plataforma te permite reportar y compartir información en tiempo real, lo que no solo te ayuda a ti, sino también a tus compañeros ciclistas.</p>
        </div>
        <div class="feature col">
            <img src="{{ url_for('static', filename='images/commentIcon.png') }}" width="50px" height="50px"></img>
          <h3 class="fs-2 text-white">Comunicate</h3>
          <p> Te invitamos a unirte a nuestros canales de información y conectarte con otros apasionados por las dos ruedas. </p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <div id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
            <div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div><script>(function () {
                var setting = {"query":"Cl. 30 #29-97, Sur Orient, Barranquilla, Atlántico, Colombia","width":800,"height":600,"satellite":false,"zoom":12,"placeId":"ChIJAxWmY1gt9I4RMuvd1q_0OTY","cid":"0x3639f4afd6ddeb32","coords":[10.9686002,-74.7814562],"lang":"es","queryString":"Cl. 30 #29-97, Sur Orient, Barranquilla, Atlántico, Colombia","centerCoord":[10.9686002,-74.7814562],"id":"map-9cd199b9cc5410cd3b1ad21cab2e54d3","embed_id":"1003854"};
                var d = document;
                var s = d.createElement('script');
                s.src = 'https://1map.com/js/script-for-user.js?embed_id=1003854';
                s.async = true;
                s.onload = function (e) {
                  window.OneMap.initMap(setting)
                };
                var to = d.getElementsByTagName('script')[0];
                to.parentNode.insertBefore(s, to);
              })();</script><a href="https://1map.com/es/map-embed">1 Map</a></div>
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Mapas interactivos</h1>
          <p class="lead"> Aquí encontrarás todo lo que necesitas para disfrutar al máximo de tus recorridos sobre dos ruedas. Ya seas un ciclista apasionado en busca de nuevas rutas, un principiante emocionado por explorar el mundo del ciclismo o simplemente alguien que busca información útil sobre vías ciclistas y zonas adecuadas para pedalear, estás en el lugar indicado.</p>
        </div>
      </div>
    </div>
  </section>

  <footer class="text-body-secondary py-5">
    <div class="container">
      <p class="float-end mb-1">
        <a href="#">Back to top</a>
      </p>
      <p class="mb-1">CopyRight 2023</p>
      <p class="mb-0">TwingEllery <a href="/"> Visit the homepage</a> </p>
    </div>
  </footer>
{% endblock %}